//Sizings

$font-size-large: 6rem;
$font-size-medium: 4rem;
$font-size-small: 3.5rem;
$font-size-default: 1.8rem;

//animation timings

$cubic-slow-start: .9,.8,.6,.2;
$cubic-fast-start: .2,.1,.4,.7;
