@import url('https://fonts.googleapis.com/css?family=Domine|PT+Serif|Poppins|Questrial');

//Sizings

$base-font: 10px;
$body-font-size: 1.7rem;

//animation timings

$cubic-slow-start: .9,.8,.6,.2;
$cubic-fast-start: .2,.1,.4,.7;

//fonts setup

$headings-font: 'PT Serif';
$body-font: 'Poppins';
$links-font: 'Questrial';

//colours

$black-main: #000;