@import 'normalize';
@import 'typography';
@import 'mixins';

@keyframes bg-slide-up {
  from {
    background-position: center bottom;
  }
  to {
    background-position: center top;
  }
}

@keyframes shake {
  from {
    transform: translateX(5%);
  }
  

  to {
    transform: translateX(0);
  }
}

%musashi-link {
  background: $orange-500;
  color: $white-500;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 10px 35px;
  font-weight: 800;
  border-radius: 5px;
}

html.carousel-container,body.carousel-container,.home-carousel {
  height: 100%;
  overflow: hidden;;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
  @extend %flex-row-wrap;
  justify-content: center;
  @media all and (max-width: 600px) {
    flex-flow: column wrap;
    align-items: center;
  }
  li {
    padding: 10px 15px;

    a {
      transition: 300ms color ease;
      &:hover {
        color: $orange-500;
      }
    }
  }
}

.nav-toggle {
  align-self: flex-end;
  display: none;

  @media all and (max-width: 600px) {
    display: inline-block;
  } 
}

.toggle-nav {
  transform: translateY(0);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.home-carousel {
  div {
    height: 100%;
    text-align: center;
    @include backgroundImg('../../images/samurai-white.jpg');
    color: $black-500;
    &:nth-child(2) {
      background-image: url(../../images/samurai-red.jpg);
      color: $white-500;
    }

    &:nth-child(3) {
      background-image: url(../../images/samurai-grey.jpg);
      color: $white-500;
    }

    &:nth-child(4) {
      background-image: url(../../images/samurai-fight.jpg);
      color: $white-500;
    }

    h1 {
      padding: 200px;
      font-size: 4.9rem;
    }

    a {
      @extend %musashi-link;
    }
  }
}

nav {
  background: $black-300;
  text-transform: uppercase;
  padding: 15px 0;
  @extend %fixed-stretch;
  z-index: 1;
  transition: 300ms transform ease;
  @media all and(max-width: 600px) {
    transform: translateY(-78%);

  }
  a {
    color: $white-500;
    font-weight: 800;
  }
}

.hero {
  height: 100vh;
  @extend %flex-col-center;
  @include backgroundImg('../../images/sakura-petals.jpg');
  text-align: center;
  color: $white-500;

  p {
    max-width: 400px;
    margin: 0 auto;
  }
}

.philosophy {
  padding: 20px 0;
  text-align: center;
  background: url(../../images/musashi-standing.png) no-repeat 900px center / 500px;
  h1 {
    color: $orange-500;
  }
  .principles-row {
    padding: 50px 0;
    @extend %flex-row-wrap;
    justify-content: space-between;
    @media all and (max-width: 600px) {
      flex-flow: column wrap;
      align-items: center;
    }
  }

  .principle {
    flex: 1;
    max-width: 30%;
    text-align: center;
    p {
      color: $orange-500;
      font-weight: 600;
      transition: 400ms all ease-in-out;
      transform: translateY(100%);
      opacity: 0;
    }

    &:hover {
      p {
        opacity: 1;
        transform: translateY(0);
      }
    }

    img {
      width: 50%;
      border-radius: 50%;
    }

  }
}

.services {
  padding: 100px 0;
  @include backgroundImg('../../images/japan-flag.jpg');
  background-position: center bottom;
  background-attachment: fixed;
  animation: 45s bg-slide-up infinite alternate linear;
  text-align: center;
  h1,h3 {
    color: $orange-500;
  }

  @media all and(max-width: 600px) {
      padding: 50px 0;
      .services-row {
        flex-flow: column wrap;
      }
      
    }

  .services-row {
    padding: 80px 0;
    @extend %flex-row-wrap;
    justify-content: space-around;

  }

  .service {
    @include backgroundImg('../../images/katana.jpg');
    color: $white-500;
    padding: 100px;
  }

  .artwork {
    background-image: url(../../images/artwork.jpg);
  }

  .poetry {
    background-image: url(../../images/poetry.jpg);
  }

  .literature {
    background-image: url(../../images/books.jpg);
  }
}

.musashi-story {
  text-align: center;
  padding: 100px 15px;
  h1 {
    color: $orange-500;
  }

  .story-row {
    @extend %flex-row-nowrap;
    justify-content: center;
    @media all and(max-width: 600px) {
      flex-flow: column wrap;
      .musashi-picture {
        display: none;
      }
    }
  }
  .story-text,.musashi-picture {
    flex: 1;
  }
    
  .story-text {
    padding: 50px 0;
    text-align: left;
    height: 200px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

}

.supplier {
    text-align: center;
    @include backgroundImg('../../images/japan-door.jpg');
    padding: 100px 0;
    color: $white-500;
  .clients-row {
    @extend %flex-row-nowrap;
    text-align: center;;
    justify-content: space-around;
    @media all and (max-width:900px) {
      flex-flow: column wrap;
    }
    .client {
      flex: 1;
      @extend %flex-col-center;
      margin: 5px;
      .image-holder {
        @include backgroundImg('../../images/kill-bill.jpg');
        border-radius: 50%;
        height: 200px;
        width: 200px;
        &.samurai {
          background-image: url(../../images/last-samurai.jpg);
        }
        &.battle-royale {
          background-image: url(../../images/battle-royale.jpg);
        }
        &.geisha {
          background-image: url(../../images/geisha.jpg);
        }
      }
    }
  }
}

.contact-us {
  text-align: center;
  padding: 80px 0;

  p {
    max-width: 400px;
    margin: 0 auto;
  }

  a {
    @extend %musashi-link;
    margin: 20px 0;
    display: inline-block;
  }
}

footer {
  background: $black-400;
  color: $white-500;
  text-align: center;
  padding: 50px 0;
  p {
    margin: 0;
  }
  .social-media {
    font-size: 1.5em;

    i {
      padding: 0 15px;
    }
  }
}

.contact-form {
  padding: 100px 0;
  text-align: center;
  color: $white-500;


  form {
    @extend %flex-col-center;

    
    input {
      @include standartInput($orange-500,$orange-300);
      margin: 8px;
    }
    textarea {
      resize: none;
      margin: 5px;
    }
  }

  button {
    @include btn-default($orange-500);
    color: $white-500;
    border-radius: 15px;
    padding: 10px 25px;
    margin: 10px 0;
    box-shadow: none;
  }
}

.form-shake {
  animation: 0.1s shake linear alternate 5;
}

.contact {
  @include backgroundImg('../../images/caligraphy.jpg');
  @include overlay($black-500,.5);
}

.shop-wrap {
  @include backgroundImg('../../images/caligraphy.jpg');
  @include overlay($black-500,.5);
  color: $white-500;
}

.shop {
  padding: 200px 0;
}
.products {
  
  @extend %flex-row-wrap;

  .product {
    flex: 1 1 25%;

    &:hover {
      img{
        outline-color: $orange-500;
      }
      
    }
    @media all and (max-width:800px) {
      flex: 1 1 35%;
    }
    @media all and (max-width:500px) {
      flex: 1 2 50%;
    }
    margin: 10px;
    img {
      transition: 300ms all ease-in-out;
      width: 100%;
      outline: 3px solid  transparent;
    }
  }
}